*{
    margin: 0;
    padding: 0;
}

.sky{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
}

.trees{
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover;
    position: absolute;
}
.track{
    height: 60vh;
    width: 800vw;
    background-image: url(track.png);
    position: absolute;
    top: 70vh;
     animation: carMove linear 15s infinite;
}


.car{
    height: 100px;
    width: 380px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 444px;
    bottom: 0;
    
}



.wheel1 img{
    width: 77px;
    position: relative;
    top: 570px;
    left: 490px;
    animation: wheelRotation linear 6s infinite;
}

.wheel2 img{
    width: 77px;
    position: relative;
    top: 500px;
    left: 675px;
    animation: wheelRotation linear 6s infinite;
}

@keyframes wheelRotation
{
100%{
      transform: rotate(360deg);
}
}
@keyframes carMove
{
    100%{
        transform: translatex(-500vw);
    }
}

@keyframes shake
{
    0%{
        transform: translate(-5px);
    }
    50%{
        transform: translate(-500px);
    }
    100%{
        transform: translate(-5px);
    }
}
